<div th:fragment="permission-modal">
    <div class="modal fade" id="permissionModal" tabindex="-1" aria-labelledby="permissionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="permissionModalLabel"
                        th:text="#{permissions.addModalTitle}"
                        th:attr="data-title-add=#{permissions.addModalTitle}, data-title-edit=#{permissions.editModalTitle}">
                    </h5>


                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="permissionForm">
                    <div class="modal-body">
                        <input type="hidden" id="permissionId"> <!-- فقط برای حالت ویرایش -->
                        <div class="mb-3">
                            <label for="permissionName" class="form-label" th:text="#{permissions.name}"></label>
                            <input type="text" class="form-control" id="permissionName" name="permissionName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:text="#{profiles.cancel}"></button>
                        <button type="submit" class="btn btn-primary" id="permissionSaveBtn"
                                th:text="#{profiles.save}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>