<div th:fragment="profile-edit-modal">
    <div class="modal fade" id="profileEditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{profiles.modal.edit.title}"></h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="profileEditForm">
                    <div class="modal-body">
                        <input type="hidden" id="editProfileId">
                        <div class="mb-3">
                            <label th:text="#{users.username}"></label>
                            <input type="text" class="form-control" id="editUsername" readonly>
                        </div>
                        <div class="mb-3">
                            <label th:text="#{users.password}"></label>
                            <input type="password" class="form-control" id="editPassword">
                        </div>
                        <div class="mb-3">
                            <label th:text="#{profiles.firstName}"></label>
                            <input type="text" class="form-control" id="editFirstName">
                        </div>
                        <div class="mb-3">
                            <label th:text="#{profiles.lastName}"></label>
                            <input type="text" class="form-control" id="editLastName">
                        </div>
                        <div class="mb-3">
                            <label th:text="#{profiles.email}"></label>
                            <input type="text" class="form-control" id="editEmail">
                        </div>
                        <div class="mb-3">
                            <label th:text="#{profiles.phone}"></label>
                            <input type="tel" class="form-control" id="editPhone">
                        </div>

                        <!-- فقط برای ادمین -->
                        <div th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''MANAGER'')')}">
                            <div class="mb-3">
                                <label th:text="#{users.roles}"></label>
                                <div id="editRolesDropdownMenu"></div>
                            </div>
                            <div class="mb-3">
                                <label th:text="#{users.accountNonExpired}"></label>
                                <select class="form-select" id="editAccountNonExpired">
                                    <option value="true" th:text="#{common.yes}"></option>
                                    <option value="false" th:text="#{common.no}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label th:text="#{users.accountNonLocked}"></label>
                                <select class="form-select" id="editAccountNonLocked">
                                    <option value="true" th:text="#{common.yes}"></option>
                                    <option value="false" th:text="#{common.no}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label th:text="#{users.credentialsNonExpired}"></label>
                                <select class="form-select" id="editCredentialsNonExpired">
                                    <option value="true" th:text="#{common.yes}"></option>
                                    <option value="false" th:text="#{common.no}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label th:text="#{users.enabled}"></label>
                                <select class="form-select" id="editEnabled">
                                    <option value="true" th:text="#{common.yes}"></option>
                                    <option value="false" th:text="#{common.no}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label th:text="#{users.expireDate}"></label>
                                <input type="datetime-local" class="form-control" id="editCredentialsExpiryDate"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:text="#{profiles.cancel}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{profiles.edit}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
