<div th:fragment="role-create-modal">
    <div class="modal fade" id="roleCreateModal" tabindex="-1" aria-labelledby="roleCreateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roleCreateModalLabel" th:text="#{roles.modal.create.title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="roleCreateForm">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="createName" class="form-label" th:text="#{roles.name}"></label>
                            <input type="text" class="form-control" id="createName" name="name">
                        </div>

                        <div class="mb-3">
                            <label th:text="#{roles.permissions}"></label>
                            <div class="dropdown w-100">
                                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button"
                                        id="permissionsDropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                        th:text="#{select}">
                                </button>
                                <ul class="dropdown-menu w-100 p-2" id="permissionsDropdownMenu"
                                    style="max-height: 200px; overflow-y: auto;">
                                    <!-- دسترسی ها به صورت داینامیک اینجا اضافه می‌شوند -->
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:text="#{profiles.cancel}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{profiles.save}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
