<aside th:fragment="sidebar"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    class="sidebar">
    <div class="sidebar-inner p-3">
        <nav class="nav flex-column">
            <a class="navbar-brand" href="#">
                <img th:src="@{/icons/mftlogo.png}" width="80%" height="80%" class="d-inline-block justify-content-center" alt="">
            </a>

            <a class="nav-link" href="/home">
                <i class="fa fa-home me-2"></i>
                <span th:text="#{navbar.home}"></span>
            </a>


            <a class="nav-link" href="/profiles" sec:authorize="isAuthenticated()">
                <i class="fa fa-address-card me-2"></i>
                <span th:text="#{navbar.profiles}"></span>
            </a>

            <a class="nav-link" href="/roles" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                <i class="fa fa-chart-user me-2"></i>
                <span th:text="#{navbar.roles}"></span>
            </a>

            <a class="nav-link" href="/permissions" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                <i class="fa fa-diagram-nested me-2"></i>
                <span th:text="#{navbar.permissions}"></span>
            </a>

            <a class="nav-link" href="/reports" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                <i class="fa fa-newspaper me-2"></i>
                <span th:text="#{navbar.reports}"></span>
            </a>

            <a class="nav-link" href="/tickets" sec:authorize="isAuthenticated()">
                <i class="fa fa-message me-2"></i>
                <span th:text="#{navbar.tickets}"></span>
            </a>

            <a class="nav-link" href="/sections">
                <i class="fa fa-network-wired me-2"></i>
                <span th:text="#{navbar.sections}"></span>
            </a>

            <a class="nav-link" href="/buildings">
                <i class="fa fa-apartment me-2"></i>
                <span th:text="#{navbar.buildings}"></span>
            </a>

        </nav>
    </div>
</aside>