<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      dir="ltr"
      th:attr="lang=${#locale.language}, dir=${#locale.language == 'fa' ? 'rtl' : 'ltr'}">
<head>
    <title th:text="#{profiles.title}"></title>
    <th:block th:replace="~{fragments/head-tags :: head-tags}"></th:block>
</head>
<body data-bs-theme="light" th:attr="data-is-admin=${isAdmin}">
<!-- نوار بالایی -->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- سایدبار -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- محتوای اصلی -->
<main class="main-content">
    <div class="container-fluid p-2">
        <!-- در بخشی از صفحه که همیشه وجود دارد -->
        <div id="deleteConfirmText" style="display: none;" th:text="#{profiles.delete.confirm}"></div>
        <!-- فرگمنت جدول پروفایل ها قابل نمایش برای ادمین-->
        <div id="profiles-table-container" th:if="${isAdmin}">
            <div th:replace="~{fragments/profile-fragments/profiles-table :: profiles-table}"></div>
        </div>
        <!-- فرگمنت  پروفایل  قابل نمایش برای مشتری-->
        <div id="profiles-card-container" th:if="${!isAdmin}">
            <div th:replace="~{fragments/profile-fragments/profile-card :: profile-card}"></div>
        </div>

    </div>
</main>

<!-- فوتر -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- مودال افزودن/ویرایش مشتری -->
<div th:replace="~{fragments/profile-fragments/profile-create-modal :: profile-create-modal}"></div>
<div th:replace="~{fragments/profile-fragments/profile-edit-modal :: profile-edit-modal}"></div>

<!-- اسکریپت‌ها -->
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
<script th:src="@{/js/profiles.js}"></script>
</body>
</html>