<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      dir="ltr"
      th:attr="lang=${#locale.language}, dir=${#locale.language == 'fa' ? 'rtl' : 'ltr'}">
<head>
    <meta charset="UTF-8">

    <title th:text="#{reset.password}"></title>
    <th:block th:replace="~{fragments/head-tags :: head-tags}"></th:block>
</head>
<body>

<main class="p-5 justify-content-center">
    <div class="container-fluid p-5 justify-content-center bg-secondary-subtle">

        <div class="bg-secondary p-3">

            <form id="resetPasswordForm">
                <div class="form-check-inline">

                    <div class="mb-3">
                        <label for="username" class="form-label" th:text="#{users.username}"></label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>


                    <div class="mb-3 text-center">

                        <button class="btn btn-danger"
                                th:data-confirm-text="#{profiles.delete.confirm}">
                            <i class="me-2"></i>
                            <span th:text="#{reset.password}"></span>
                        </button>


                    </div>


                </div>

            </form>

        </div>

    </div>
</main>


<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

<script th:src="@{/js/reset-password.js}"></script>

</body>
</html>