<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>
<h1>Roles</h1>
<form th:action="@{/roles}" th:method="post" th:object="${role}">
    <input type="text" th:id="name" th:name="name" th:field="*{name}">
    <input type="submit" value="Save">
</form>

<h2 th:dir="ltr" th:if="${roleList.isEmpty()}">No Content</h2>
<table th:if="${not roleList.isEmpty()}">
    <thead>
    <tr>
        <th>Name</th>
        <th> Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role:${roleList}">
        <td th:text="${role.name}"></td>
        <td>
            <button th:data-name="${role.name}" th:onclick="|remove(this.getAttribute('data-name'))|">Remove</button>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/panel}">Panel</a>


<script>
    function remove(name){
        fetch("/roles/"+name,{
            method:"DELETE"
        });
        window.location.replace("/roles");
    }
</script>
</body>
</html>