<div th:fragment="ticket-edit-modal">
    <div class="modal fade" id="ticketEditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{tickets.modal.edit.title}"></h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form id="ticketEditForm">
                    <div class="modal-body">
                        <input type="hidden" id="editTicketId">
                        <div class="mb-3">
                            <label th:text="#{tickets.title}"></label>
                            <input type="text" class="form-control" id="editTitle" readonly>
                        </div>

                        <div class="mb-3">
                            <label th:text="#{tickets.section}"></label>
                            <select id="editSection" name="sectionId" class="form-select">
                                <option th:each="s : ${sectionsForFilter}" th:value="${s.id}"
                                        th:text="${s.title}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label th:text="#{tickets.status}"></label>
                            <select id="editStatus" name="status" class="form-select">
                                <option th:each="s : ${T(ir.model.enums.TicketStatus).values()}"
                                        th:value="${s.name()}"
                                        th:text="${s.name()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                th:text="#{profiles.cancel}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{profiles.edit}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
