<div th:fragment="tickets-table" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="card shadow">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h3 class="mb-0" th:text="#{tickets.management}"></h3>
            <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#ticketCreateModal">
                <i class="fas fa-plus me-2"></i>
                <span th:text="#{tickets.add}"></span>
            </button>
        </div>

        <div class="card-body">
            <div class="row mb-4 g-3">
                <div class="col-12 col-md-3">
                    <select class="form-select" id="pageSize" aria-label="تعداد در صفحه">
                        <option value="10" th:text="#{profiles.pageSize.10}"
                                th:selected="${param.size == 10}"></option>
                        <option value="20" th:text="#{profiles.pageSize.20}"
                                th:selected="${param.size == 20}"></option>
                    </select>
                </div>

                <div>
                    <button id="ticketFilterBtn" class="btn btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#ticketFilterModal">
                        <i class="fas fa-filter"></i>
                        <span th:text="#{common.filter}"></span>
                    </button>
                </div>
            </div>

            <!-- جدول مشتریان -->
            <div class="table-responsive" id="tickets-table">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th th:text="#{tickets.title}"></th>
                        <th th:text="#{tickets.section}"></th>
                        <th th:text="#{tickets.customer}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"></th>
                        <th th:text="#{tickets.status}"></th>
                        <th th:text="#{tickets.score}"></th>
                        <th th:text="#{tickets.date.time}"></th>
                        <th th:text="#{tickets.messages}"></th>
                        <th th:text="#{profiles.actions}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket : ${tickets.content}">
                        <td th:text="${ticket.title}"></td>
                        <td th:text="${ticket.section.title}"></td>
                        <td th:text="${ticket.customer.username}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"></td>
                        <td th:text="${ticket.status}"></td>
                        <td th:text="${ticket.score}"></td>
                        <td th:text="${ticket.dateTime}"></td>
                        <td>
                            <button class="btn btn-sm btn-info btn-open"
                            th:data-id="${ticket.id}">
                            <i class="fas fa-envelope-open"></i>
                            </button>
                        </td>
                        <td>
                            <div class="d-flex gap-2">
                                <button class="btn btn-sm btn-warning btn-edit"
                                        sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"
                                        th:data-id="${ticket.id}">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-danger"
                                        sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"
                                        th:data-id="${ticket.id}"
                                        th:data-confirm-text="#{tickets.delete.confirm}">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- صفحه‌بندی -->
            <nav class="mt-4" aria-label="صفحه‌بندی">
                <ul class="pagination justify-content-center">
                    <li th:each="page : ${#numbers.sequence(0, (totalPages - 1))}"
                        class="page-item"
                        th:classappend="${page == tickets.number} ? 'active'">
                        <a class="page-link"
                           th:text="${page + 1}"
                           th:data-page="${page}"
                           role="button"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
